<div class="row">
    <div class="account-col text-center">
        <div class="logo">
            <img src="assets/images/login.png" alt="" class="login_logo img-responsive">
        </div>
        <h3>Forgot Password</h3>
        <div class="form-group" *ngIf="msg !== ''">
           <div class="alert alert-info">{{msg}}</div>
        </div>
        <form class="m-t" role="form" #forgotForm="ngForm" (ngSubmit)="sendCode()" novalidate [hidden]="sent_code">
            <div class="form-group">
                <input type="email" [email]="true" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [(ngModel)]="email" name="email" class="form-control" placeholder="Please enter your email!" required>
                <span class="error" *ngIf="!email_valid">*Email not Exist!</span>
            </div>
            <button type="submit" class="btn btn-primary btn-block " [disabled]="forgotForm.invalid">
                Send Code
            </button>
        </form>
        <form class="m-t" role="form" #codeForm="ngForm" (ngSubmit)="confirmCode()" novalidate [hidden]="!sent_code||code_confirmed">
            <div class="form-group">
                <input type="text" class="form-control" name="code" [(ngModel)]="code" placeholder="Please enter confirmation code!" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block " [disabled]="codeForm.invalid">
                Confirm Code
            </button>
        </form>
        <form class="m-t" role="form" #resetForm="ngForm" (ngSubmit)="resetPassword()" novalidate [hidden]="!code_confirmed||done_reset">
            <div class="form-group">
                <input type="password" class="form-control" name="password" [(ngModel)]="password" placeholder="Please enter new password!" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="confirm_password"  placeholder="Please reenter password!" required (keyup)="validatePassword($event)">
                <span class="error" *ngIf="!valid_password">*Passwords entered do not match</span>
            </div>
            <button type="submit" class="btn btn-primary btn-block " [disabled]="resetForm.invalid||!valid_password">
                Reset Password
            </button>
        </form>
        <div class="form-group" *ngIf="done_reset">
            <a [routerLink]="['/']" class="btn btn-primary btn-block">Go To Login</a>
        </div>
    </div>
</div>
