<!-- page title -->
<div class="row">
  <div class="col-sm-12">
    <div class="page-title">
      <div class="row">
        <h4 class="pull-left">Create User</h4>
        <ol class="breadcrumb pull-right">
          <li><a href="javascript: void(0);"><i class="fa fa-home"></i></a></li>
          <li>Create User</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- end .page title-->
<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="well">
      <div class="row">
        <div class="col-sm-2  col-md-3">
          <h4>User Type</h4>
        </div>
        <ng-container *ngIf="user.accounttype==='super'">
          <div class="col-sm-2  col-md-3">
            <label>
                <input type="radio" id="staff" name="usertype" value="staff" [(ngModel)]="usertype"> Staff
            </label>
          </div>
          <div class="col-sm-2  col-md-3 ">
            <label>
                <input type="radio" id="customer" name="usertype" value="customer" [(ngModel)]="usertype"> Customer
            </label>
          </div>
        </ng-container>
        <ng-container *ngIf="user.accounttype==='staff' || user.accounttype==='customer'">
          <ng-container *ngIf="user.role">
            <ng-container *ngIf=" user.role.staff.create">
              <div class="col-sm-2  col-md-3">
                <div>
                  <label>
                      <input type="radio" id="staff" name="usertype" value="staff" [(ngModel)]="usertype"> Staff
                  </label>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf=" user.role.customer.create">
              <div class="col-sm-2  col-md-3">
                <div>
                  <label>
                      <input type="radio" id="customer" name="usertype" value="customer" [(ngModel)]="usertype"> Customer
                  </label>
                </div>
              </div>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="user.special_permissions">
            <ng-container *ngIf="user.special_permissions.staff.create">
              <div class="col-sm-2  col-md-3 ">
                <div>
                  <label>
                      <input type="radio" id="staff" name="usertype" value="staff" [(ngModel)]="usertype"> Staff
                  </label>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="user.special_permissions.customer.create">
              <div class="col-sm-2  col-md-3 ">
                <div>
                  <label>
                      <input type="radio" id="customer" name="usertype" value="customer" [(ngModel)]="usertype"> Customer
                  </label>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<div class="hr-line-dashed"></div>
<div class="row" *ngIf="usertype === 'staff'">
  <staff-user></staff-user>
</div>
<div class="row" *ngIf="usertype === 'customer'">
  <customer-user></customer-user>
</div>