<div class="row">
    <div class="col-sm-12">
        <div class="page-title">
            <div class="row">

                <h4 class="pull-left">Dashboard</h4>


                <ol class="breadcrumb pull-right">
                    <li><a href="javascript: void(0);"><i class="fa fa-home"></i></a></li>
                    <li>Dashboard</li>
                </ol>

            </div>
        </div>
    </div>
</div><!-- end .page title-->

<div class="row">
    <div class="col-md-6 col-lg-3">
        <div class="panel panel-card recent-activites">
            <!-- Start .panel -->
            <div class="panel-heading">
                HEADING
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-info btn-rounded btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action <span class="caret"></span></button>
                        <ul class="dropdown-menu panel-dropdown" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-body text-center">
                <i class="icon-layers widget-icon"></i>  <h1 class="right panel-middle margin-b-0">3,100</h1>
            </div>
        </div><!-- End .panel --> 



        </div>
        <div class="col-md-6 col-lg-3">
            <div class="panel panel-card recent-activites">
                <!-- Start .panel -->
                <div class="panel-heading">
                    HEADING
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-info btn-rounded btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action <span class="caret"></span></button>
                            <ul class="dropdown-menu panel-dropdown" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-body text-center">
                    <i class="icon-user widget-icon"></i>  <h1 class="right panel-middle margin-b-0">6,782</h1>
                </div>
            </div><!-- End .panel --> 



        </div>

        <div class="col-md-6 col-lg-3">
            <div class="panel panel-card recent-activites">
                <!-- Start .panel -->
                <div class="panel-heading">
                    HEADING
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-info btn-rounded btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action <span class="caret"></span></button>
                            <ul class="dropdown-menu panel-dropdown" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-body text-center">
                    <i class="icon-list widget-icon"></i>  <h1 class="right panel-middle margin-b-0">6,782</h1>
                </div>
            </div><!-- End .panel --> 



        </div>

        <div class="col-md-6 col-lg-3">
            <div class="panel panel-card recent-activites">
                <!-- Start .panel -->
                <div class="panel-heading">
                    HEADING
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-info btn-rounded btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action <span class="caret"></span></button>
                            <ul class="dropdown-menu panel-dropdown" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-body text-center">
                    <i class="icon-like widget-icon"></i>  <h1 class="right panel-middle margin-b-0">1,782</h1>
                </div>
            </div><!-- End .panel --> 



        </div>


    </div>

<div class="row">
    <div class="col-md-6 col-lg-3">
        <div class="card cyan white-text clearfix">

            <div class="card-content clearfix">
                <i class="icon-settings background-icon"></i>
                <p class="card-stats-title right panel-title wdt-lable">HEADING</p>
                <h4 class="right panel-middle margin-b-0 wdt-lable">$4762</h4>

                <div class="clearfix"></div>
            </div>

        </div>
    </div>

    <div class="col-md-6 col-lg-3">
        <div class="card orange white-text clearfix">

            <div class="card-content clearfix">
                <i class="icon-user background-icon"></i>
                <p class="card-stats-title right panel-title wdt-lable">HEADING</p>
                <h4 class="right panel-middle margin-b-0 wdt-lable">6,782</h4>

                <div class="clearfix"></div>
            </div>

        </div>
    </div>

    <div class="col-md-6 col-lg-3">
        <div class="card teal white-text clearfix">

            <div class="card-content clearfix">
                <i class="icon-basket background-icon"></i>
                <p class="card-stats-title right panel-title wdt-lable">HEADING</p>
                <h4 class="right panel-middle margin-b-0 wdt-lable">1,782</h4>

                <div class="clearfix"></div>
            </div>

        </div>
    </div>

    <div class="col-md-6 col-lg-3">
        <div class="card green white-text clearfix">

            <div class="card-content clearfix">
                <i class="icon-graph background-icon"></i>
                <p class="card-stats-title right panel-title wdt-lable">HEADING</p>
                <h4 class="right panel-middle margin-b-0 wdt-lable">1,782</h4>

                <div class="clearfix"></div>
            </div>

        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-card recent-activites">
            <!-- Start .panel -->
            <div class="panel-heading"> <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-info btn-rounded btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action <span class="caret"></span></button>
                        <ul class="dropdown-menu panel-dropdown" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </div>
                HEADING<!--<p>This is Morris bar chart description.</p>-->

            </div>
            <div class="panel-body text-center">
                <div id="morris-bar" class="h370"></div>
            </div>
        </div><!-- End .panel --> 
    </div>
    <div class="col-md-6">
        <div class="panel panel-card recent-activites">
            <!-- Start .panel -->
            <div class="panel-heading">
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-info btn-rounded btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action <span class="caret"></span></button>
                        <ul class="dropdown-menu panel-dropdown" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </div> HEADING
                <!--<p>This is Morris bar chart description.</p>-->

            </div>
            <div class="panel-body text-center">
                <div id="morris-area-chart" class="h370"></div>
            </div>
        </div><!-- End .panel --> 
    </div>

</div>


<div class="row">
    <div class="col-md-6">
        <div class="panel panel-card recent-activites">
            <!-- Start .panel -->
            <div class="panel-heading">
                HEADING
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-info btn-rounded btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action <span class="caret"></span></button>
                        <ul class="dropdown-menu panel-dropdown" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-body text-center">
                <div id="morris-area-chart2" class="h370"></div>
            </div>
        </div><!-- End .panel --> 
    </div>
    <div class="col-md-6">
        <div class="panel panel-card recent-activites">
            <!-- Start .panel -->
            <div class="panel-heading">
                HEADING
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-info btn-rounded btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action <span class="caret"></span></button>
                        <ul class="dropdown-menu panel-dropdown" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-body text-center">
                <div id="myfirstchart" class="h370"></div>
            </div>
        </div><!-- End .panel --> 
    </div>

</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-card recent-activites">
            <!-- Start .panel -->
            <div class="panel-heading">
                HEADING
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-info btn-rounded btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action <span class="caret"></span></button>
                        <ul class="dropdown-menu panel-dropdown" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-body text-center">
                <div id="stacked" class="h370"></div>
            </div>
        </div><!-- End .panel --> 
    </div>
    <div class="col-md-6">
        <div class="panel panel-card recent-activites">
            <!-- Start .panel -->
            <div class="panel-heading">
               HEADING
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-info btn-rounded btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action <span class="caret"></span></button>
                        <ul class="dropdown-menu panel-dropdown" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-body text-center">
                <div id="extra-area-chart" class="h370"></div>
            </div>
        </div><!-- End .panel --> 
    </div>

</div>