<div class="row">
    <div class="col-sm-12">
        <div class="page-title">
            <div class="row">
                <h4 class="pull-left">User Details</h4>
                <ol class="breadcrumb pull-right">
                    <li><a href="javascript: void(0);"><i class="fa fa-home"></i></a></li>
                    <li>User Details</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end .page title-->

<!-- end .page title-->
<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="panel panel-card margin-b-30">
            <div class="well">
                <div class="panel-body">
                    <form class="form-horizontal group-border stripped" name="form" #userForm="ngForm" (ngSubmit)="onSubmit()">
                        <div class="form-group" [ngClass]="{ 'has-error' : username.invalid && username.touched }">
                            <label class="col-lg-2 col-md-3 control-label">Name</label>
                            <div class="col-lg-5 col-md-5">
                                <input type="text" name="username" placeholder="Enter Your UserName" minlength="4" maxlength="24" class="form-control" [(ngModel)]="staff.username" #username="ngModel" required>
                            </div>
                        </div>
                        <div class="form-group" [ngClass]="{ 'has-error' : email.invalid && email.touched || !email_valid}">
                            <label class="col-lg-2 col-md-3 control-label">Email</label>
                            <div class="col-lg-5 col-md-5">
                                <input type="email" name="email" placeholder="Enter email" class="form-control" [(ngModel)]="staff.email" #email="ngModel" [email]="true" (keyup.enter)="validateEmail(email.value)" (blur)="validateEmail(email.value)"  (keypress)="setEmailValid()"  required>
                                <span class="error" *ngIf="!email_valid">*Email already taken!</span>
                            </div>
                        </div>
                        <div class="form-group" [ngClass]="{ 'has-error' : phone.invalid && phone.touched }">
                            <label class="col-lg-2 col-md-3 control-label">Phone</label>
                            <div class="col-lg-5 col-md-5">
                                <input type="text" name="phone" placeholder="Phone number" class="form-control" [(ngModel)]="user_info.phone" #phone="ngModel" required>
                            </div>
                        </div>
                        <div class="form-group" [ngClass]="{ 'has-error' : mobile.invalid && mobile.touched }">
                            <label class="col-lg-2 col-md-3 control-label">Mobile</label>
                            <div class="col-lg-5 col-md-5">
                                <input type="text" name="mobile" placeholder="Phone number" class="form-control" [(ngModel)]="user_info.mobile" #mobile="ngModel" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-lg-2 col-md-3 control-label">Stores</label>
                            <div class="col-lg-5 col-md-5">
                                <ul class="form-control villages_list">
                                    <li *ngFor="let item of stores ">
                                        <input type="checkbox" name="select" [checked]="item.checked" value="{{item._id}}" (change)="selectStores($event)" />
                                        <span>{{item.store_title}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 col-md-3 control-label">Role</label>
                            <div class="col-lg-3 col-md-3" *ngIf="modalValid">
                                <select class="fancy-select form-control" name="role" [(ngModel)]="staff.role" (change)="selectRole($event)">
                                  <option *ngFor="let r of roles" [value]="r.role_name">{{r.role_name}}</option>
                              </select>
                          </div>
                          <div class=" col-lg-1 col-md-4">
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#roleModal"> Manage This User's Permission</button>
                        </div>
                        <div class="modal fade" id="roleModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header text-center">
                                        <h4 class="modal-title">Manage This User's Permission</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="col-md-12 col-sm-12s">
                                                    <div class="table-responsive">
                                                        <table class="tablesaw" data-tablesaw-sortable data-tablesaw-sortable-switch>
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">
                                                                        Permitted Action
                                                                    </th>
                                                                    <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5">View Only</th>
                                                                    <th scope="col" data-tablesaw-sortable-col data-tablesaw-sortable-default-col data-tablesaw-priority="3">Create</th>
                                                                    <th id="custom-sort" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">Edit</th>
                                                                    <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">Deactivate</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td class="title">
                                                                        Manage Staff Users
                                                                    </td>
                                                                    <td class="title"><input type="checkbox" name="view_staff" [checked]="staffPermission.view" (change)="staffPermission.view = !staffPermission.view"></td>
                                                                    <td class="title"><input type="checkbox" name="create_staff" [checked]="staffPermission.create" (change)="staffPermission.create = !staffPermission.create" />
                                                                    </td>
                                                                    <td class="title"><input type="checkbox" name="edit_staff" [checked]="staffPermission.edit" (change)="staffPermission.edit = !staffPermission.edit"></td>
                                                                    <td class="title"><input type="checkbox" name="delete_staff" [checked]="staffPermission.delete" (change)="staffPermission.delete = !staffPermission.delete"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="title">
                                                                        Manage Customer Users
                                                                    </td>
                                                                    <td class="title"><input type="checkbox" name="view_customer" [checked]="customerPermission.view" (change)="customerPermission.view = !customerPermission.view"></td>
                                                                    <td class="title"><input type="checkbox" name="create_customer" [checked]="customerPermission.create" (change)="customerPermission.create = !customerPermission.create">
                                                                    </td>
                                                                    <td class="title"><input type="checkbox" name="edit_customer" [checked]="customerPermission.edit" (change)="customerPermission.edit = !customerPermission.edit"></td>
                                                                    <td class="title"><input type="checkbox" name="delete_customer" [checked]="customerPermission.delete" (change)="customerPermission.delete = !customerPermission.delete">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="title">
                                                                        Manage Stores
                                                                    </td>
                                                                    <td class="title"><input type="checkbox" name="view_store" [checked]="storePermission.view" (change)="storePermission.view = !storePermission.view"></td>
                                                                    <td class="title"><input type="checkbox" name="create_store" [checked]="storePermission.create" (change)="storePermission.create = !storePermission.create"></td>
                                                                    <td class="title"><input type="checkbox" name="edit_store" [checked]="storePermission.edit" (change)="storePermission.edit = !storePermission.edit"></td>
                                                                    <td class="title"><input type="checkbox" name="delete_store" [checked]="storePermission.delete" (change)="storePermission.delete = !storePermission.delete"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="title">
                                                                        Manage Orders
                                                                    </td>
                                                                    <td class="title"><input type="checkbox" name="view_order" [checked]="orderPermission.view" (change)="orderPermission.view = !orderPermission.view"></td>
                                                                    <td class="title"><input type="checkbox" name="create_order" [checked]="orderPermission.create" (change)="orderPermission.create  = !orderPermission.create"></td>
                                                                    <td class="title"><input type="checkbox" name="edit_order" [checked]="orderPermission.edit" (change)="orderPermission.edit = !orderPermission.edit"></td>
                                                                    <td class="title"><input type="checkbox" name="delete_order" [checked]="orderPermission.delete" (change)="orderPermission.delete = !orderPermission.delete"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="title">
                                                                        Manage User Roles
                                                                    </td>
                                                                    <td class="title"><input type="checkbox" name="view_role" [checked]="rolePermission.view" (change)="rolePermission.view = !rolePermission.view"></td>
                                                                    <td class="title"><input type="checkbox" name="create_role" [checked]="rolePermission.create" (change)="rolePermission.create = !rolePermission.create"></td>
                                                                    <td class="title"><input type="checkbox" name="edit_role" [checked]="rolePermission.edit" (change)="rolePermission.edit = !rolePermission.edit"></td>
                                                                    <td class="title"><input type="checkbox" name="delete_role" [checked]="rolePermission.delete" (change)="rolePermission.delete = !rolePermission.delete"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="title">
                                                                        Manage Companies
                                                                    </td>
                                                                    <td class="title"><input type="checkbox" name="view_company" [checked]="companyPermission.view" (change)="companyPermission.view = !companyPermission.view"></td>
                                                                    <td class="title"><input type="checkbox" name="create_company" [checked]="companyPermission.create" (change)="companyPermission.create = !companyPermission.create"></td>
                                                                    <td class="title"><input type="checkbox" name="edit_company" [checked]="companyPermission.edit" (change)="companyPermission.edit = !companyPermission.edit"></td>
                                                                    <td class="title"><input type="checkbox" name="delete_company" [checked]="companyPermission.delete" (change)="companyPermission.delete = !companyPermission.delete"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="title"></td>
                                                                    <td class="title"><input type="checkbox" name="view_all" value="view" (change)="selectAll($event)"></td>
                                                                    <td class="title"><input type="checkbox" name="create_all" value="create" (change)="selectAll($event)"></td>
                                                                    <td class="title"><input type="checkbox" name="edit_all" value="edit" (change)="selectAll($event)"></td>
                                                                    <td class="title"><input type="checkbox" name="delete_all" value="delete" (change)="selectAll($event)"></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <br>
                                            <div class="col-sm-4">
                                                <div class="col-md-12">
                                                    <select class="form-control m-b" name="home_url" [(ngModel)]="home_url">
                                                        <option value=""></option>
                                                        <option value="dashboard"  *ngIf="display_dashboard">Dashboard</option>
                                                        <option value="users" *ngIf="staffPermission.create||staffPermission.edit||staffPermission.delete||staffPermission.view||customerPermission.create||customerPermission.edit||customerPermission.delete||customerPermission.view">Users</option>
                                                        <option value="roles" *ngIf="rolePermission.create||rolePermission.edit||rolePermission.delete||rolePermission.view">User Roles</option>
                                                        <option value="stores" *ngIf="storePermission.create||storePermission.edit||storePermission.delete||storePermission.view">Stores</option>
                                                        <option value="orders" *ngIf="orderPermission.create||orderPermission.edit||orderPermission.delete||orderPermission.view">Orders</option>
                                                    </select>
                                              </div>
                                          </div>
                                          <div class="col-sm-4">
                                            <input type="checkbox" name="display_dashboard" [checked]="display_dashboard" (change)="display_dashboard = !display_dashboard">
                                            <label for="">Display Dashboard</label>
                                        </div>
                                        <div class="col-sm-4" *ngIf="orderPermission.create||orderPermission.edit||orderPermission.delete||orderPermission.view">
                                            <input type="checkbox" name="send_remittance" [checked]="send_remittance" (change)="send_remittance = !send_remittance">
                                            <label for="">Send Remittance</label>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-accent" data-dismiss="modal" [disabled]="home_url===''&&!display_dashboard" (click)="savePermissions()">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error' : password.invalid && password.touched }">
                    <label class="col-lg-2 col-md-3 control-label">Password</label>
                    <div class="col-lg-3 col-md-3">
                        <input type="Password" name="password" placeholder="" class="form-control" [(ngModel)]="staff.password" #password="ngModel">
                    </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error' : confirmPassword.invalid && confirmPassword.touched }">
                    <label class="col-lg-2 col-md-3 control-label">Confirm Password</label>
                    <div class="col-lg-3 col-md-3">
                        <input type="Password" name="confirmPassword" placeholder="" class="form-control" [(ngModel)]="staff.confirmPassword" #confirmPassword="ngModel">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-5 col-md-offset-3">
                        <button class="btn btn-info btn-primary" (click)="cancel()">
                          Cancel
                      </button>
                      <button type="submit" class="btn btn-info  btn-primary">
                          Save
                      </button>
                  </div>
              </div>

          </form>
      </div>
  </div>
</div>
</div>
</div>