<div class="row">
  <div class="col-sm-12">
    <div class="page-title">
      <div class="row">
        <h4 class="pull-left">Flooring Order Request</h4>
        <ol class="breadcrumb pull-right">
          <li><a href="javascript: void(0);"><i class="fa fa-home"></i></a></li>
          <li>Flooring Order Request</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- end .page title-->
<form name="form" #orderForm="ngForm" (ngSubmit)="sendEmail()" novalidate>
  <div class="row">
    <ngx-loading [show]="loading"></ngx-loading>
    <div class="panel panel-card recent-activites">
      <div class="col-sm-8 col-sm-offset-2">
        <h4>Client Information</h4>
      </div>
      <div class="col-md-8 col-md-offset-2">
        <div class="panel-body">
          <div class="">
            <table id="basic-datatables" class="table table-bordered">
              <tr>
                <td class="title td-title">Account Name</td>
                <td class="title">
                  <span>Summerset Holdings Ltd</span>
                </td>
              </tr>
              <tr>
                <td class="title td-title">Summerset Village</td>
                <td class="title">
                  <div class="form-group" *ngIf="companies.length === 1">
                    {{companies[0].name}}
                  </div>
                  <div class="form-group">
                    <select name="companies" class="form-control" (change)="selectCompany($event)" *ngIf="companies.length > 1">
                      <option value="" selected></option>
                      <option *ngFor="let item of companies" value="{{item._id}}">{{item.name}}</option>
                    </select>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="title td-title">Name</td>
                <td class="title">
                  <span>{{user.username}}</span>
                </td>
              </tr>
              <tr>
                <td class="title td-title">Email</td>
                <td class="title">
                  <span>{{user.email}}</span>
                </td>
              </tr>
              <tr>
                <td class="title td-title">Phone</td>
                <td class="title">
                  <div class="col-md-6">
                    <label for="inputwk">Wk:</label>
                    <ng-container *ngIf="user.accounttype === 'staff'||user.accounttype === 'customer'">
                      <span>{{user.user_info.phone}}</span>
                    </ng-container>
                  </div>
                  <div class="col-md-6">
                    <label for="inputmob">Mob:</label>
                    <ng-container *ngIf="user.accounttype === 'staff' || user.accounttype === 'customer'">
                      <span>{{user.user_info.mobile}}</span>
                    </ng-container>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h4>Flooring Contractor Information</h4>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <div class="panel-body">
        <div class="">
          <table id="basic-datatables" class="table table-bordered">
            <tr>
              <td class="title td-title">Store</td>
              <td class="title">
                <ng-container *ngIf="assigned_stores.length > 1">
                  <div class="form-group">
                    <select name="stores" id="input-status" class="form-control" (change)="selectStore($event)">
                      <option value="" selected></option>
                      <option *ngFor="let item of assigned_stores" value="{{item._id}}">{{item.store_title}}</option>
                    </select>
                  </div>
                </ng-container>
                <ng-container *ngIf="assigned_stores.length == 1">
                  {{assigned_stores[0].store_title}}
                </ng-container>
              </td>
            </tr>
            <tr>
              <td class="title td-title">Address</td>
              <td class="title">
                <div class="col-md-6" *ngIf="store_address.address1&&store_address.address2&&store_info.region&&store_info.city">
                  {{store_address.address1}} {{store_address.address2}} {{','}} {{store_info.city}} {{','}} {{store_info.region}}
                </div>
              </td>
            </tr>
            <tr>
              <td class="title td-title">Contact Name</td>
              <td class="title">
                <span>{{key_staff.username}}</span>
              </td>
            </tr>
            <tr>
              <td class="title td-title">Email</td>
              <td class="title">
                <span>{{staff_info.email}}</span>
              </td>
            </tr>
            <tr>
              <td class="title td-title">Phone</td>
              <td class="title">
                <div class="col-md-6">
                  <label for="inputwk">Wk:</label>
                  <span>{{staff_info.phone}}</span>
                </div>
                <div class="col-md-6">
                  <label for="inputmob">Mob:</label>
                  <span>{{staff_info.mobile}}</span>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h4>Project Details</h4>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <div class="panel-body">
        <div class="">
          <table id="basic-datatables" class="table table-bordered">
            <tr>
              <td class="title td-title">Order Number</td>
              <td class="title">
                <input type="text" name="order-number" class="order-input" [(ngModel)]="project_detail.order_number" required>
              </td>
            </tr>
            <tr>
              <td class="title td-title">Order Date</td>
              <td class="title">
                <input type="text" name="order-date" class="datepicker" #datepicker1 required>
              </td>
            </tr>
            <tr>
              <td class="title td-title">Prefered Install Date</td>
              <td class="title">
                <input type="text"  name="install_date" class="datepicker" #datepicker2 required>
              </td>
            </tr>
            <tr>
              <td class="title td-title">Quote Required</td>
              <td class="title">
                <table>
                  <tr>
                    <td>
                      <input type="radio" name="quote" [checked]="project_detail.quote" (change)="selectQuote(1)">YES
                    </td>
                    <td>
                      <input type="radio" name="quote" [checked]="!project_detail.quote" (change)="selectQuote(2)">NO
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="title td-title">Unit Number</td>
              <td class="title">
                <input type="text" name="unit-number" class="order-input" [(ngModel)]="project_detail.unit_number"  required>
              </td>
            </tr>
            <tr>
              <td class="title td-title">Unit Type</td>
              <td class="title">
                <input type="text" name="unit-type" class="order-input" [(ngModel)]="project_detail.unit_type" required>
              </td>
            </tr>
            <tr>
              <td class="title td-title">Plan Type</td>
              <td class="title">
                <input type="text" name="plan-type" class="order-input" [(ngModel)]="project_detail.plan_type" required>
              </td>
            </tr>
            <tr>
              <td class="title td-title">Colour Scheme</td>
              <td class="title">
                <input type="text" name="col-scheme" class="order-input" [(ngModel)]="project_detail.colour_scheme" required>
              </td>
            </tr>
            <tr>
              <td class="title td-title">Areas Required</td>
              <td class="title" style="width:100%;">
                <table style="width:100%;">
                  <tr style="width:100%;">
                    <td class="title">
                      <input type="checkbox" [checked]=" areas_required.carpet && areas_required.kitchen &&
            areas_required.bathroom && areas_required.laundry" name="create_store" value="entire" (change)="selectArea($event)">
                      <label for="">Entire Unit</label>
                    </td>
                    <td class="title">
                      <input type="checkbox" value="carpet" name="carpet" [checked]="areas_required.carpet" (change)="selectArea($event)">
                      <label for="">Carpet</label>
                    </td>
                    <td class="title">
                      <input type="checkbox" value="kitchen" name="kitchen" [checked]="areas_required.kitchen" (change)="selectArea($event)">
                      <label for="">Kitchen/Entry</label>
                    </td>
                  </tr>
                  <tr style="width:100%;">
                    <td class="title">
                      <input type="checkbox" value="other" name="other" [checked]="areas_required.other" (change)="selectArea($event)">
                      <label for="">Other</label>
                    </td>
                    <td class="title">
                      <input type="checkbox" value="bathroom" name="bathroom" [checked]="areas_required.bathroom" (change)="selectArea($event)">
                      <label for="">Bathroom</label>
                    </td>
                    <td class="title">
                      <input type="checkbox" value="laundry" name="laundry" [checked]="areas_required.laundry" (change)="selectArea($event)">
                      <label for="">Laundry</label>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="title td-title">Special Instructions</td>
              <td class="title">
                <textarea name="special" *ngIf="areas_required.other" class="order-input" [(ngModel)]="project_detail.special" #special="ngModel" required></textarea>
                <textarea name="special" *ngIf="!areas_required.other" class="order-input" [(ngModel)]="project_detail.special" #special="ngModel"></textarea>
              </td>
            </tr>
            <tr>
              <td class="title"></td>
              <td class="title">
                <button type="submit" id="button-filter" [disabled]="!orderForm.valid" class="btn btn-primary pull-right"><i class="fa fa-delete"></i> Create Order</button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- <br>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel-body">
            <table  class="tablesaw" data-tablesaw-sortable data-tablesaw-sortable-switch>
        <thead>
            <tr>
              <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">
                Carpet
              </th>
              <th scope="col" data-tablesaw-sortable-col data-tablesaw-sortable-default-col data-tablesaw-priority="3">Vinyl/Vinyl Tile</th>
              <th id="custom-sort" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">Bathroom Floor</th>
              <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">Bathroom Wall</th>
              <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5">Laundry</th>
            </tr>
        </thead>
    </table>
        </div>
    </div>
</div>


-->
