<div class="row">
    <div class="col-sm-12">
        <div class="page-title">
            <div class="row">
                <h4 class="pull-left">Support Office</h4>
                <ol class="breadcrumb pull-right">
                    <li><a href="javascript: void(0);"><i class="fa fa-home"></i></a></li>
                    <li>Support Office</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end .page title-->
<div class="row">
    <form class="form-horizontal group-border stripped" #supportForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-card margin-b-30">
                <div class="well">
                    <h4 class="mb-xlg">Support Office</h4>
                    <div class="panel-body">
                        <div class="form-group" [ngClass]="{ 'has-error': title.touched && title.invalid }">
                            <label class="col-lg-4 col-md-4 control-label">Store Title</label>
                            <div class="col-lg-8 col-md-8">
                                <input type="text" name="title" placeholder="Enter Store Title" minlength="4" class="form-control" [(ngModel)]="office.store_title" #title="ngModel" required>
                            </div>
                        </div>
                        <div class="form-group" [ngClass]="{ 'has-error': email.touched && email.invalid }">
                            <label class="col-lg-4 col-md-4 control-label">Email</label>
                            <div class="col-lg-8 col-md-8">
                                <input type="text" name="email" placeholder="Enter email" class="form-control" [(ngModel)]="office.email" #email="ngModel" [email]="true" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row text-center">
                                <button class="btn btn-info btn-primary" (click)="cancel()">
                                    Cancel
                                </button>
                                <button type="submit" class="btn btn-info  btn-primary"  [disabled]="!supportForm.form.valid">
                                    Save
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>