<!-- wrapper -->
<div id="wrapper">
  <!-- BEGIN HEADER -->
  <div class="page-header navbar navbar-fixed-top">
    <div class="page-header-inner ">
      <div class="page-logo">
        <a href="index.html">
                    <img [src]="logoUrl" alt="absolute admin" class="img-responsive logo-default"/>
                </a>
      </div>
      <div class="menu-toggler sidebar-toggler">
        <a href="javascript:;" class="navbar-minimalize minimalize-styl-2  pull-left "><i class="fa fa-bars"></i></a>
      </div>
      <div class="top-menu">
        <ul class="nav navbar-nav pull-right">
          <!-- <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                <i class="icon-bell"></i>
                <span class="badge badge-default"> <span class="ring">
                    </span><span class="ring-point">
                    </span> </span>
            </a>
          </li>
          <li class="dropdown dropdown-extended dropdown-notification" id="header_inbox_bar">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                <i class="icon-envelope-open"></i>
                <span class="badge badge-default"> <span class="ring">
                    </span><span class="ring-point">
                    </span> </span>
            </a>
          </li>
          <li class="dropdown dropdown-extended dropdown-tasks" id="header_task_bar">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                <i class="icon-calendar"></i>
                <span class="badge badge-default"> <span class="ring">
                    </span><span class="ring-point">
                    </span> </span>
            </a>
            <ul class="dropdown-menu extended tasks animated flipInX">
              <li class="external">
                <h3>You have
                  <span class="bold">12 pending</span> tasks</h3>
                <a href="app_todo.html">view all</a>
              </li>
            </ul>
          </li> -->
          <li class="dropdown dropdown-user">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false">
                <img alt="" class="img-circle" [src]="photoUrl" >

            </a>
            <ul class="dropdown-menu dropdown-menu-default">
              <li>
                <a [routerLink]="['/profile']">
                    <i class="icon-user"></i> My Profile</a>
              </li>
              <li>
                <a [routerLink]="['/login']" (click)="logout()">
                    <i class="icon-key"></i> Log Out </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>

    </div>
  </div>
