<div class="row">
    <div class="account-col text-center">
        <div class="logo">
            <img src="assets/images/login.png" alt="" class="login_logo img-responsive">
        </div>
        <h3>Log into your account</h3>
        <form class="m-t" (submit)="onLoginSubmit()" role="form" action="index.html">
            <div class="form-group">
                <input type="text" [(ngModel)]="username" name="username" class="form-control" placeholder="Username or Email" required="">
            </div>
            <div class="form-group">
                <input type="password" [(ngModel)]="password" name="password" class="form-control" placeholder="Password" required="">
            </div>
            <button type="submit" class="btn btn-primary btn-block ">Login</button>
            <label style="padding-right: 20px;"> <input type="checkbox"  [checked]="remember_me" (change)="remember_me = !remember_me"><i></i> Remember me </label>
            <a [routerLink]="['/forgotpassword']"><small>Forgot password?</small></a>
            <p>Carpet Court &copy; 2017</p>
        </form>
        <div *ngIf="error" class="alert alert-danger  alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong>Sorry, your login was unsuccessful, please try again.</strong>
        </div>
    </div>
</div>
